form {
  display: flex;
  flex-direction: column;
}

input {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 300px;
  margin-bottom: 10px;
}

label {
  margin-bottom: 5px;
  font-weight: bold;
}

button {
  width: 100px;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  margin-top: 10px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

button:hover { background-color: #0062cc; }


.error {
  color: red;
}

.maindiv {
  padding-left: 35%;
}
